.loopInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.levels_container {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.levelContainer {
  margin: auto 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  text-align: center;
}

.meter {
  display: flex;
  flex-direction: column;
}

.meterLevel {
  margin-bottom: 20px;
  margin-top: 20px;
  height: 5px;
  width: 100px;

  border-radius: 10px;
}

.tempoBtn {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid rgb(192, 0, 0);
  box-shadow: 0px 0px 15px 0px rgba(192, 0, 0, 0.8),
    0px 0px 30px 0px rgba(238, 160, 160, 0.425);

  background-color: rgba(192, 0, 0, 0);

  font-size: large;
  color: rgb(192, 0, 0);
  transition: 0.3s;

  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
}

.tempoBtn:hover{
  background: #C00000;
  color: #ffffff;
  box-shadow: 0 0 5px #C00000,
              0 0 25px #C00000,
              0 0 50px #C00000,
              0 0 200px #C00000;
  cursor: pointer;
}

#showTempo {
  font-size: 4em; 
  display: block; 
  margin: 15px 0;
  width: 120px;
}

.spicerBtn {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid rgb(192, 0, 0);
  box-shadow: 0px 0px 15px 0px rgba(192, 0, 0, 0.8),
    0px 0px 30px 0px rgba(238, 160, 160, 0.425);

  background-color: rgba(192, 0, 0, 0);

  font-size: large;
  color: rgb(192, 0, 0);
  transition: 0.3s;

  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
}

.spicerBtn:hover{
  background: #C00000;
  color: #ffffff;
  box-shadow: 0 0 5px #C00000,
              0 0 25px #C00000,
              0 0 50px #C00000,
              0 0 200px #C00000;
  cursor: pointer;
}

.level_0 {
  background-color: rgb(39, 243, 127);
  box-shadow: 0px 0px 10px 2px rgba(39, 243, 127, 0.3),
    0px 0px 20px 0px rgba(108, 255, 172, 0.253);
}

.level_1 {
  background-color: rgba(170, 170, 91, 0.7);
}

.level_1.off {
  background-color: rgba(170, 170, 91, 0.7);
}

.level_1.on {
  background-color: rgb(255, 255, 91);
  box-shadow: 0px 0px 10px 2px rgba(255, 255, 0, 0.3),
    0px 0px 20px 0px rgba(255, 255, 92, 0.253);
}

.level_2 {
  background-color: rgba(136, 41, 41, 0.7);
}

.level_2.off {
  background-color: rgba(136, 41, 41, 0.7);
}

.level_2.on {
  background-color: rgb(255, 0, 0);
  box-shadow: 0px 0px 10px 2px rgba(255, 0, 0, 0.3),
    0px 0px 20px 0px rgba(255, 57, 57, 0.253);
}

/* The container must be positioned relative: */
.custom-select {
  position: relative;
  display: block;
  text-align: center;
  margin: 20px auto;
  line-height: 61px;
  width: 150px;
}
 
.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: rgba(255, 0, 0, 0);
}

.select-selected:hover{
  background: #C00000;
  color: #ffffff;
  box-shadow: 0 0 5px #C00000,
              0 0 25px #C00000,
              0 0 50px #C00000,
              0 0 200px #C00000;
}
  
/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  cursor: pointer;
  transition: 0.3s;
}
  
/* Style items (options): */
.select-items {
  position: absolute;
  background-color: rgba(20, 20, 20, 0.7);
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}
  
/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background: #C00000;
  color: #ffffff;
  box-shadow: 0 0 5px #C00000,
              0 0 25px #C00000,
              0 0 50px #C00000,
              0 0 200px #C00000;
}

#selectKey .select-items {
  line-height: 43px;
}

#instrumentSelection .select-items {
  line-height: 50px;
}

#instrumentSelection {
  width: 300px;
  margin-bottom: 0;
}

.neon-button{
  position: relative;
  display: block;
  padding: 25px 0;
  margin: 40px auto;
  color: #C00000;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s;
  overflow: hidden;
  width: 150px;
  text-align: center;
}

.neon-button:hover{
  background: #C00000;
  color: #ffffff;
  box-shadow: 0 0 5px #C00000,
              0 0 25px #C00000,
              0 0 50px #C00000,
              0 0 200px #C00000;
  cursor: pointer;
}

.neon-button span{
  position: absolute;
  display: block;
}

#lc_wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  margin-top: 5px;
}

.play-keys-btns {
  display: inline-block;
}

.tonalitySelection {
  display: inline-block;
  width: 145px;
}

.arrow {
  cursor: pointer;
  height:30px;
}

.loop-buttons {
  display: inline-block;
  width: 145px;
  margin-top: 0;
}
