body {
    background-color: rgb(45, 45, 45);
}

.main-container {
    float: left;
    margin: 0 3px;
    border-radius: 5px;
    text-align: center;
}

.large {
    width: 300px;
    height: 400px;
}

.medium {
    width: 150px;
    height: 400px;
}

.small {
    border-radius: 5px;
    text-align: center;
    width: 150px;
    height: 130px;
}

.lightblue {
    background-color: rgb(43, 225, 255);
}

.black {
    box-sizing: border-box;
    background-color: black;
    color: white;
    border: 2px solid white;
}

.small.black {
    margin-bottom: 2.5px;
    display: block;
    float: left;
}

.green {
    background-color: rgb(110, 255, 111);
}

.red {
    background-color: rgb(189, 45, 45);
    margin: 2.5px auto;
    display: block;
    float: left;
}

.yellow {
    background-color: rgb(248, 255, 119);
    margin-top: 2.5px;
    display: block;
    float: left;
}

.oscillators {
    margin: 20px auto auto;
}

.double-section {
    margin: 0;
    height: 100%;
    width: 49.5%;
    text-align: center;
    display: inline-block;
    float: left;
}

.separator {
    margin: 0;
    float: left;
    width: 1%;
    height: 300px;
    background-color: black;
}

.radio-container {
    display: block;
}

.label {
    font-weight: bold;
    margin: 5px auto 20px;
}

.section-name {
    font-weight: bold;
    font-size: 1.2em;
    margin: 1em auto;
}

.vertical-radio {
    display: inline-block;
    text-align: center;
}

img {
    width: 33px;
    height: 33px;
    display: block;
}
