
body{
  display: block;
  justify-content: center;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  background-color: rgb(45,45,45);
  background-image: url("images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

.leather-box{
  width: 1200px;
  height: 650px;
  margin: 30px auto;
  position: relative;
  border: 2px solid black;
  /*(90deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.7) 45%, rgba(0,0,0,0.6) 61%, rgba(0,0,0,1) 100% */
  background: linear-gradient(  rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 45%, rgba(0,0,0,0.7) 61%, rgba(0,0,0,0.8) 100%), url("images/leather.jpg");
  /*background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("images/leather.jpg"); */
  background-position:center top;
  background-size: contain;
  border-radius: 5px;
  box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.7), -1px -1px 2px 0px rgba(0, 0, 0, 0.7);
}
.synth-container{
  width: 1126px;
  height: 600px;
  margin: 30px auto;
  position: relative;
}

#synth{
  margin-left: 30px auto;
  margin-right: 30px auto;
  position: relative;
  max-width: 1200px;
  border: 3px solid rgba(0,0,0,0.9);
  height: 391px;
  border-radius: 2px;
}

#keyboard{
  margin-left: 30px auto;
  margin-right: 30px auto;
  position: relative;
  max-width: 1200px;
  display: block;
}


#spicerSection{
  z-index: 1;
  background-color: rgba(60, 194, 235, 0.678);
  display: block;
  position: fixed;
  bottom : 0%;
  width : 100%;
  height: 5%;
}

#spiceRange{
  position: relative;
  margin: 0px 25%;
  width: 50%;

}


h1{
    /*font-family: 'Nothing You Could Do', cursive;*/
    padding-top: 20px;
    font-family: 'Amatic SC', cursive;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    font-size: 4vw;
    color: rgb(0,0,0);
}


.red-txt{
  color: red;
}

.chili-logo{
  width: 3.8%;
}


.onAirBtn{
  padding: 15px 32px;
  width: 75px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  position: absolute;
  top: 24px;
  right: 190px;
  font-size: 16px;
  background-color: rgba(78, 6, 6, 0.76);
  color: black;
  border: 2px solid #180101;
  border-radius: 4px;
  text-shadow: 0 0px 50px rgb(0, 0, 0,0.6);
  box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.7);
}

.onAir {

  background-color:  rgba(204, 32, 32, 0.911);
  color: #fff;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

